.italic {
  font-style: italic;
}

.bold {
  font-weight: 700;
}

.header {
  margin: 0px 4px;
}

.header1 {
  font-size: 40px;
}

.header2 {
  font-size: 28px;
}

.header3 {
  font-size: 24px;
}

.header4 {
  font-size: 20px;
}

.header5 {
  font-size: 18px;
}

.header6 {
  font-size: 16px;
}

.button {
  padding: 8px 32px;
  border-radius: 14px;
  border: none;
  background-color: #7fbffa;
  color: #1e1e1e;
  box-shadow: 1px 1px 4px #99a9ff3a;
  transition: background-color 0.15s, transform 0.15s;
}

.button:hover {
  background-color: #94d0ff;
  cursor: pointer;
  transform: scale(1.03);
}
