.italic {
  font-style: italic;
}

.bold {
  font-weight: 700;
}

.header {
  margin: 0px 4px;
}

.header1 {
  font-size: 40px;
}

.header2 {
  font-size: 28px;
}

.header3 {
  font-size: 24px;
}

.header4 {
  font-size: 20px;
}

.header5 {
  font-size: 18px;
}

.header6 {
  font-size: 16px;
}
